<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить новый продукт</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<header>
    <!-- Навигационное меню -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/categories">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Корзина</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<body>
<div class="container mt-5">
    <h2 class="text-center mb-4">Добавить новый продукт</h2>
    <form th:action="@{/products}" method="post" th:object="${product}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Название продукта</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Введите название продукта" required>
        </div>
        <div class="form-group">
            <label for="description">Описание продукта</label>
            <textarea class="form-control" id="description" th:field="*{description}" rows="3" placeholder="Введите описание продукта" required></textarea>
        </div>
        <div class="form-group">
            <label for="price">Цена</label>
            <input type="number" class="form-control" id="price" th:field="*{price}" placeholder="Введите цену продукта" step="0.01" required>
        </div>
        <div class="form-group">
            <label for="category">Категория</label>
            <select class="form-control" id="category" th:field="*{category.id}">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">Категория</option>
            </select>
        </div>
        <div class="form-group">
            <label for="stockQuantity">Количество на складе</label>
            <input type="number" class="form-control" id="stockQuantity" th:field="*{stockQuantity}" placeholder="Введите количество на складе" required>
        </div>
        <div class="form-group">
            <label for="imageUrl">URL изображения</label>
            <input type="text" class="form-control" id="imageUrl" th:field="*{imageUrl}" placeholder="Введите URL изображения (/catogoryPic/)" >
        </div>
        <button type="submit" class="btn btn-primary">Добавить продукт</button>
    </form>
</div>
</body>
</html>
