<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список скидок</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<header>
    <!-- Навигационное меню -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/categories">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Корзина</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<body>
<div class="container mt-5">
    <h2 class="text-center mb-4">Список скидок</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Код</th>
            <th>Размер скидки</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Категория</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="discount : ${discounts}">
            <td th:text="${discount.id}"></td>
            <td th:text="${discount.code}"></td>
            <td th:text="${discount.amount}"></td>
            <td th:text="${discount.startDate}"></td>
            <td th:text="${discount.endDate}"></td>
            <td th:text="${discount.category.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
