<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Popular Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    </style>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Мой Магазин</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная <span class="sr-only">(текущая)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Товары</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Категории
                </a>
                <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
                    <a class="dropdown-item" th:each="category : ${categories}" th:href="@{/categories/{id}(id=${category.id})}" th:text="${category.name}">Категория</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">Корзина</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/orders/new">Оформить Доставку</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/discounts">Скидки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/popular-products">Популярные продукты</a>
            </li>
        </ul>
    </div>
</nav>
<body>
<div class="container mt-5">
    <h2 class="text-center mb-4">Most Popular Products</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Addition Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="productAddition : ${popularProducts}">
            <td th:text="${productAddition.product.name}"></td>
            <td th:text="${productAddition.count}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
