<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shipping Addresses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center mb-4">List of Shipping Addresses</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Street</th>
            <th>City</th>
            <th>Zip Code</th>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="shippingAddress : ${shippingAddresses}">
            <td th:text="${shippingAddress.id}"></td>
            <td th:text="${shippingAddress.street}"></td>
            <td th:text="${shippingAddress.city}"></td>
            <td th:text="${shippingAddress.zipCode}"></td>
            <td th:text="${shippingAddress.country}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
